/* Globals */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --black: rgb(29, 29, 29);
  --darker-black: rgb(20, 20, 20);
  --white: white;
  --darker-white: rgb(236, 236, 236);
  --dark-box-shadow: rgb(27 27 27);
  --light-box-shadow: rgb(224 224 224);
  --dark-mode-title: #bacdff;
  --light-mode-footer: #2432ff;
  --dark-mode-footer: #838bff;
  --light-mode-button: url("./assets/icons8-sun-96.png");
  --dark-mode-button: url("./assets/icons8-moon-64.png");
  --bottom-shadow-light: rgb(81 81 81);
  --bottom-shadow-dark: rgb(0 0 0);
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;

  background: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--darker-white);
  --text-color: var(--black);
  --secondary-bg-color: var(--white);
  --box-shadow-color: var(--light-box-shadow);
  --title-first-color: var(--black);
  --footer-link-color: var(--light-mode-footer);
  --button-image: var(--dark-mode-button);
  --theme-switcher-size: 30px 30px;
  --bottom-shadow: var(--bottom-shadow-light);
}

body.dark {
  --background-color: var(--black);
  --text-color: var(--white);
  --secondary-bg-color: var(--darker-black);
  --box-shadow-color: var(--dark-box-shadow);
  --title-first-color: var(--dark-mode-title);
  --footer-link-color: var(--dark-mode-footer);
  --button-image: var(--light-mode-button);
  --theme-switcher-size: 40px 40px;
  --bottom-shadow: var(--bottom-shadow-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.block {
  display: block;
}

label,
input {
  font-size: 2rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px - 60px);
}

form > label {
  display: inline-block;
}

.input-name {
  margin-bottom: 10px;
  padding-left: 3px;
}

.number-input {
  margin-bottom: 25px;
  width: 100%;
  background: var(--background-color);
  color: var(--text-color);
  border: black solid 1px;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.2s;
}

.number-input:hover,
:focus {
  outline: none;
  border: rgb(75, 75, 75) solid 1px;
  border-radius: 10px;
  background: var(--secondary-bg-color);
}

.hourly-rate {
  margin: 15px 0 10px 0;
}

.form-styling {
  background: var(--secondary-bg-color);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  border-radius: 25px;
  box-shadow: var(--box-shadow-color) -1px 3px 8px 5px inset,
    var(--bottom-shadow) 2px 5px 16px 0px, 5px 5px 15px 5px rgb(255 0 119 / 0%);
  -webkit-box-shadow: var(--box-shadow-color) -1px 3px 8px 5px inset,
    var(--bottom-shadow) 2px 5px 16px 0px, 5px 5px 15px 5px rgb(255 0 119 / 0%);
}

hr {
  border: none;
  background: gray;
  color: gray;
  height: 1px;
}

.result {
  font-size: 4rem;
}

.green-text {
  color: rgb(0, 186, 0);
}

nav {
  height: 80px;
  background: var(--secondary-bg-color);
  font-size: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 60px;
  background: var(--secondary-bg-color);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > a {
  color: var(--footer-link-color);
  /* color: #838bff; */
  /* color: #2433ff; */
  text-decoration: underline;
}

.title-text {
  color: #303eff;
}

.theme-switcher {
  position: absolute;
  top: 1.3%;
  right: 4%;
}

#darkMode {
  background: transparent var(--button-image) no-repeat center;
  background-size: var(--theme-switcher-size);
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
}

/* Media Queries */

@media screen and (max-width: 750px) {
  nav {
    font-size: 3.3rem;
  }
}
